:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --text-and-primary-bg-white-color: #ffffff;
  --second-bg-color: #2f303a;
  --black-text-color: #000000;
  --buttons-and-bg-color: #f5f4fa;
  --button-active: #188ce8;
  --hero-bg-color: #c4c4c4;
  --svg-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --gra: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.social-list, .address-list, .contacts-list, .page-language, .language-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-list__link, .address-list__link, .contacts-list__link, .page-language__link, .language-list__link {
  color: var(--primary-text-color);
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

body {
  color: var(--primary-text-color);
  background-color: var(--hero-bg-color);
  font-family: "Roboto", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .page-header__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.language {
  padding-top: 40px;
  padding-bottom: 40px;
}

.language__container {
  padding-top: 20vh;
  padding-bottom: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../images/world_ukraine.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.language-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}

.language-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 1.2173913043;
  color: var(--black-text-color);
  letter-spacing: 0.02em;
}
@media screen and (min-width: 380px) {
  .language-list__link {
    font-size: 26px;
    line-height: 1.1538461538;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 480px) {
  .language-list__link {
    font-size: 32px;
    line-height: 1.125;
    letter-spacing: 0.05em;
  }
}
.language-list__link:hover, .language-list__link:focus {
  color: var(--accent-color);
}

.language-list__flag {
  min-width: 40px;
  min-height: 30px;
  margin-right: 6px;
}
@media screen and (min-width: 768px) {
  .language-list__flag {
    margin-right: 10px;
  }
}

.page-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
@media screen and (min-width: 768px) {
  .page-language {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
    row-gap: 0;
  }
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}
@media screen and (min-width: 768px) {
  .contacts-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    row-gap: 0;
  }
}

.contacts-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--black-text-color);
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-color);
}

.contacts-list__icon {
  fill: currentColor;
}

.banking {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--second-bg-color);
}

.banking__iban {
  text-align: center;
  color: var(--text-and-primary-bg-white-color);
}

.our-goal {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--text-and-primary-bg-white-color);
}
@media screen and (min-width: 768px) {
  .our-goal {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.page-footer {
  background-color: var(--second-bg-color);
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .page-footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 480px) {
  .page-footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .page-footer__container {
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.our-address {
  margin-bottom: 20px;
}
@media screen and (min-width: 415px) {
  .our-address {
    margin-bottom: 0;
  }
}

.address-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

.address-list__link {
  color: var(--text-and-primary-bg-white-color);
}
.address-list__link:hover, .address-list__link:focus {
  color: var(--accent-color);
}

.social-media__proposal {
  margin-bottom: 20px;
  display: block;
  text-align: center;
  color: var(--text-and-primary-bg-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .social-media__proposal {
    padding-top: 12px;
    text-align: left;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}/*# sourceMappingURL=main.css.map */