.banking {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--second-bg-color);
}
.banking__iban {
    text-align: center;
    color: var(--text-and-primary-bg-white-color);
}