.contacts-list {
    @extend %list;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    
    @include tablet {
       flex-direction: row;
       column-gap: 15px;
       row-gap: 0;
    }
}
.contacts-list__item {

}

.contacts-list__link {
    @extend %link;
    display: flex;
    column-gap: 6px;
    align-items: center;
    color: var(--black-text-color);

    @include tablet { 
        
    }
    
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contacts-list__icon {
    fill: currentColor;
}
