.gallery {
    padding-top: 15px;
    padding-bottom: 15px;
}

.gallery-set.single-item {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    padding-inline-start: 0;
}

.gallery-item {
    
    display: flex;
    justify-content: center;
}

.gallery-photo {
    display: block;
    object-fit: cover;   

}