.language__container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;   
}

.language-list {
    @extend %list;
    text-transform: uppercase;
}
.language-list__item {}

.language-list__link {
    @extend %link;
}